@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: 5% auto 5%;
  grid-template-columns: 2% auto 2%;
  font: 300 10vw "Lato", sans-serif;
  color: #777;
  background: #eee;
}

main {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2vw;
  row-gap: 8vw;
}

.clock-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 12vw;
}

.clock {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  /* height: 8vw;
  width: 12vw; */
}

.h,
.m,
.s,
.period {
  padding: 0 10px;
  text-align: center;
}

.period {
  margin-top: -15px;
}

.tz {
  grid-row: 1;
  text-align: center;
  font: 600 4vw "Courier New", sans-serif;
}

.errorMsg {
  font: 600 1vw "Courier New", sans-serif;
  text-align: center;
  grid-column-start: 2;
  background-color: rgb(218, 126, 126);
  height: 2vw;
  line-height: 2vw;
  border-radius: 4px;
}

/* 
.h:after
.m:after 
  {
  content: ":";
  padding: 10px;
} */


@media screen and (max-width: 850px) {
  body {
    display: flex;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 5vw;
  }

  .clock-container {
    height: 20vw;
  }

  .clock {
    height: 16vw;
  }

  .h,
  .m,
  .s {
    margin-top: 15%;
  }
}